app/lib/blockchain/*.js
app/lib/blockchain/interfaces/*.js
app/lib/computation/*.js
app/lib/db/*.js
app/lib/dto/*.js
app/lib/indexer.js
app/lib/common.js
app/lib/dal/drivers/*.js
app/lib/dal/sqliteDAL/*.js
app/lib/dal/sqliteDAL/index/*.js
app/lib/dal/fileDALs/*.js
app/lib/dal/fileDAL.js
app/service/*.js
app/lib/rules/local_rules.js
app/lib/rules/global_rules.js
app/modules/wizard.js
app/modules/router.js
app/modules/revert.js
app/modules/reset.js
app/modules/reapply.js
app/modules/peersignal.js
app/modules/plugin.js
app/modules/daemon.js
app/modules/export-bc.js
app/modules/check-config.js
app/modules/config.js
test/*.js
test/**/*.js