app/cli.js
app/lib/blockchain/*.js
app/lib/blockchain/interfaces/*.js
app/lib/computation/*.js
app/lib/common-libs/*.js
app/lib/common-libs/**/*.js
app/lib/db/*.js
app/lib/dto/*.js
app/lib/indexer.js
app/lib/common.js
app/lib/dal/drivers/*.js
app/lib/dal/sqliteDAL/*.js
app/lib/dal/sqliteDAL/index/*.js
app/lib/dal/fileDALs/*.js
app/lib/dal/fileDAL.js
app/service/*.js
app/lib/rules/*.js
app/lib/system/*.js
app/lib/streams/*.js
app/lib/helpers/*.js
app/modules/ws2p/*.js
app/modules/ws2p/lib/*.js
app/modules/ws2p/lib/*/*.js
app/lib/*.js
app/modules/wizard.js
app/modules/router.js
app/modules/revert.js
app/modules/reset.js
app/modules/reapply.js
app/modules/peersignal.js
app/modules/plugin.js
app/modules/daemon.js
app/modules/export-bc.js
app/modules/check-config.js
app/modules/config.js
app/modules/prover/*.js
app/modules/prover/lib/*.js
app/modules/keypair/*.js
app/modules/keypair/lib/*.js
app/modules/bma/*.js
app/modules/bma/lib/*.js
app/modules/bma/lib/entity/*.js
app/modules/bma/lib/controllers/*.js
app/modules/crawler/*.js
app/modules/crawler/lib/*.js
app/ProcessCpuProfiler.js
app/lib/common/package.js
test/*.js
test/**/*.js