*.sublime*
node_modules/
*.html
npm-debug.log
bin/jpgp*.jar
.idea/
naclb/build
naclb/node_modules
gui/nw

# Vim swap files
*~
*.swp
*.swo

# Vagrant
.vagrant/
vagrant/*.log
vagrant/duniter

# Releases
*.deb
*.tar.gz
*.log
*.exe

# vscode
.vscode

# istanbul
.nyc_output
coverage/

# TS migration
test/blockchain/*.js*
test/blockchain/*.d.ts
test/blockchain/lib/*.js*
test/blockchain/lib/*.d.ts
/index.js*
/index.d.ts
/server.js*
/server.d.ts
app/**/*.js*
app/**/*.d.ts
test/integration/*.js*
test/integration/*.d.ts
test/integration/membership_chainability.js*
test/integration/membership_chainability.d.ts
test/integration/tools/toolbox.js*
test/integration/tools/toolbox.d.ts
test/integration/documents-currency.js*
test/integration/documents-currency.d.ts
test/fast/modules/crawler/block_pulling.js*
test/fast/modules/crawler/block_pulling.d.ts
test/fast/fork*.js*
test/fast/fork*.d.ts
test/fast/proxies*.js*
test/fast/proxies*.d.ts
test/fast/modules/ws2p/*.js*
test/fast/modules/ws2p/*.d.ts
