*.sublime*
node_modules/
*.html
npm-debug.log
bin/jpgp*.jar
.idea/
naclb/build
naclb/node_modules
gui/nw

# Vim swap files
*~
*.swp
*.swo

# Vagrant
.vagrant/
vagrant/*.log
vagrant/duniter

# Releases
*.deb
*.tar.gz
*.log
*.exe

# vscode
.vscode

# TS migration
test/blockchain/*.js
test/blockchain/*.js.map
test/blockchain/lib/*.js
test/blockchain/lib/*.js.map
app/lib/blockchain/*.js
app/lib/blockchain/*.js.map
app/lib/blockchain/interfaces/*.js
app/lib/blockchain/interfaces/*.js.map
app/lib/computation/*.js
app/lib/computation/*.js.map
app/lib/common.js*
app/lib/db/*.js*
app/lib/dto/*.js*
app/lib/indexer.js*
app/lib/dal/drivers/*.js*
app/lib/dal/sqliteDAL/*.js*
app/lib/dal/sqliteDAL/index/*.js*
app/lib/dal/fileDALs/*.js*
app/lib/dal/fileDAL.js*
app/lib/logger*js*
app/service/*.js*
app/lib/wot.js*