stages:
    - github-sync
    - test

push_to_github:
    stage: github-sync
    variables:
        GIT_STRATEGY: none
    tags:
        - github
    script:
        - rm -rf ./*
        - rm -rf .git
        - git clone --mirror $CI_REPOSITORY_URL .
        - git remote add github $GITHUB_URL_AND_KEY
        - git config --global user.email "contact@duniter.org"
        - git config --global user.name "Duniter"
        # Job would fail if we don't remove refs about pull requests
        - bash -c "cat packed-refs | grep -v 'refs/pull' > packed-refs-new; echo 'Removed pull refs.'"
        - mv packed-refs-new packed-refs
        - bash -c "git push --force --mirror github 2>&1 | grep -v duniter-gitlab; echo $?"

enforce_readme:
    stage: github-sync
    variables:
        GIT_STRATEGY: none
    tags:
        - github
    script:
      - rm -rf ./*
      - rm -rf .git
      - git clone $GITHUB_URL_AND_KEY .
      - git config --global user.email "contact@duniter.org"
      - git config --global user.name "Duniter"
      - git checkout master
      - cat .github/github_disclaimer.md > README.md.new
      - cat README.md >> README.md.new
      - mv README.md.new README.md
      - git commit -am "Enforce github readme"
      - git push origin master
      
test:
    stage: test
    tags:
      - pages
    image: registry.duniter.org/docker/ubuntu-node:17.10-DUNITER-1
    script:
      - bash -c ". ~/.nvm/nvm.sh && npm run-script test-travis"

