<html>
  <head>
    <style>
      textarea{
        float: left;
      }
    </style>
  </head>
  <body>
    <form action="/udc/amendments/submit" method="POST">
      <textarea name="amendment" id="amendment" cols="80" rows="45"></textarea>
      <input type="submit">
    </form>
  </body>
</html>